body{
    background-color: grey;
    margin: 0px;
    padding: 0px;
}

ol{
    list-style: disc;
}

hr{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: right;
}

li{
    margin: 0px;
    padding: 0px;
}
h4{
    margin-top: 20px;
    margin-bottom: 0px;
}

p{
    margin: 5px;
}

#center {
    text-align: center;
    margin: auto;
    padding: auto;
}

#page-look {
    background-color: white;
    padding: 50px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.split-text{
    display: block;
    margin-top: 5px;
}

.split-text span{
    display: block;
    float: right;
    width: 35%;
    margin-left: 10px;
}